body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    color: blueviolet;
    text-align: center;
}

.index {
    display: block;
    margin: auto;
    background-color: antiquewhite;
    padding: 4px;

}

.links {
    color: blue;
    background-color: lightblue;
}

.main { 
    padding-left: 0;
    text-align: center;
    margin-left: 0
}

.main li {
    padding-left: 10px;
    padding-right: 10px;
}

.subheading {
    color:brown;
    background-color: bisque;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


