body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    color: blueviolet;
    text-align: center;
}

.links {
    color: blue;
}

.subheading {
    color:brown;
    background-color: bisque;
    text-align: center;
}

img {
    align-content: center;
}
